thead button::after {
  content: "⇵";
}

thead button.ascending::after {
  content: "⥔";
  display: inline-block;
  margin-left: 0em;
}

thead button.descending::after {
  content: "⥙";
  display: inline-block;
  margin-left: 0em;
}
.nav-link {
  cursor: pointer;
}
#videoview {
  position: relative;
  width: 640px;
  height: 480px;
}

#video {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.trapezoidVerde {
  border-bottom: 50px solid #28a745;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
}
.trapezoidRojo {
  border-bottom: 50px solid #dc3545;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
}
.trapezoidAzul {
  border-bottom: 50px solid #007bff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
}
.trapezoidAmarilla {
  border-bottom: 50px solid #f7e91b;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
}
.rectangleAmarilla {
  height: 50px;
  background-color: #f7e91b;
}
.rectangleAzul {
  height: 50px;
  background-color: #007bff;
}
.rectangleRojo {
  height: 50px;

  background-color: #dc3545;
}

.rectangleVerde {
  height: 50px;

  background-color: #28a745;
}
.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}
footer {
  display: block;
  background-color: black;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  border-top: 1px solid white;
  text-align: right;
}
